
@media (min-width: 500px) {
    body {
        font-size: var(--font-size-mobile);
    }
}

@media (min-width: 700px) {
    body {
        font-size: var(--font-size-tablet);
   }
}

@media (min-width: 1600px) {
    body {
        font-size: var(--font-size-laptop);
    }
}
